* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Tilt Warp', sans-serif;
  font-style: normal;
}

body {
  display: flex;  
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 75%;
  height: auto;  
  margin: 0 auto; 
}

.bayan {
  max-width: 579px;
  margin: auto;
  padding: 2vw 0;
}

@media (min-width: 580px) and (max-width: 820px) {
    .bayan {
        max-width: 820px;
    }
  }

@media (min-width: 1920px) {
  .bayan:hover label:hover {
    cursor: pointer;
  }
}

.fi-br-check,
.fi-br-cross,
.bayan__img,
input {
  display: none;
}

.bayan:hover input:not(:checked) ~ .fi-br-check {
  display: block;
}

.bayan:hover input:checked ~ .fi-br-cross {
  display: block;  
}

input:checked ~ .bayan__img {
  display: block;
  
}

label:hover > .bayan__img {
  display: block;
   
}

.bayan__title {
  font-size: 2em; 
}

.bayan__item {
    margin-top: 1em;
}

.bayan__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bayan__text {
  font-size: 1.5em;
  margin-bottom: 1em;
}
